/* General Styles */

body {
    background-color: var(--white);
    margin:0 300px;
    padding: 0;
    font-family: 'Roboto', sans-serif, serif;
}

h1 {
    color: var(--main-title-color);
    font-size: var(--font-size-lg);
}

.logo h1 {
    color: var(--black);
}

h2 {
    color: var(--secondary-title-color);
    font-size: var(--font-size-md);
}

h3 {
    font-weight: var(--font-weight-bold);
    color: var(--third-title-color);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
}

h4 {
    color: var(--pink);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

h1, h2 {
    font-family: var(--title-fonts);
    font-size: var(--font-size-lg);;
}

h3, h4, p, a, button {
    font-family: var(--text-fonts);
}

p {
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    margin-block: 0;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.input {
    padding: 12px;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid var(--light-grey);
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    color: var(--light-grey);
    width: 250px;
}

.input-big {
    padding: var(--spacing-sm);
    width: 350px;
}

.btn {
    padding: var(--spacing-xs);
    border: none;
    border-radius: 6px;
    background-color: #7A6ADC;
    color: var(--white);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
}

.btn-big {
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm)
}

.btn:hover, .btn:focus {
    background-color: #594ea3;
    transition: background-color 0.5s ease;
}

.violet-link{
    color: var(--purple);
}

.violet-link:hover, .violet-link:focus {
    color: #4b418a;
    transition: color 0.3s ease;
}