@media (max-width:1024px) {
    body {
        margin: 0.5rem;
    }

    .left-fixed-side, .left-side-lifestyle {
        position: relative;
    }

}

@media (max-width:820px) {
    body {
        margin: 0.5rem;
    }

    .navigation nav {
        display: none;
    }

    .hidden {
        display: block;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    [class*="grid-"] {
        grid-template-columns: 1fr;
    }

    .travel .grid-container, .lifestyle .grid-container, .food .grid-container{
        grid-template-columns: 1fr;
    }

    .tags-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    [class*="grid-"] {
        grid-template-columns: 1fr;
    }
}

@media (max-width:600px) {
    body {
        margin: 0.5rem;
    }

    .search input {
        display: none;
    }

    .btn.btn-mobile {
        display: none;
    }

    [class*="grid-"] {
        grid-template-columns: 1fr;
    }

    .articles {
        grid-template-columns: 1fr;
        height:max-content;
        width: 100%;
        overflow: auto;
    }

    .travel .grid-container, .lifestyle .grid-container, .food .grid-container{
        grid-template-columns: 1fr !important;
    }

    .left-fixed-side, .left-side-lifestyle {
        position: relative;
    }

}